/*----- GLOBAL -----*/
.page-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

h1 {
}

/*----- TASK DISPLAY -----*/
.todo-list {
  min-height: 30vh;
}
.task {
  width: 45vw;
  display: flex;
  justify-content: space-between;
}
.time-of-creation {
  align-self: flex-start;
  font-weight: 200;
}
.task-todo {
}

.task-done {
  font-style: italic;
  text-decoration: line-through solid black;
}

/*----- TASK FORM -----*/
.form {
  border: solid 1px lightgrey;
  border-radius: 5px;
}
.task-input {
  width: 40vw;
  height: 3vh;
  border: none;
  outline: none;
  text-indent: 15px;
}
.task-btn {
  font-weight: bold;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-left: lightgrey;
}
.task-btn:hover {
  background-color: lightgrey;
}

.search {
  border: solid 1px lightgrey;
  border-radius: 5px;
}
.search-bar {
  width: 30vw;
  padding: 10px;
  height: 3vh;
  border: none;
  outline: none;
  text-indent: 15px;
}
.search-btn {
  /* padding: 3px; */
  background-color: transparent;
  border: none;
  border-left: lightgrey;
}
