/*----- GLOBAL -----*/
.page-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

h1 {
}

/*----- TASK DISPLAY -----*/
.todo-list {
}
.task {
  width: 20vw;
  display: flex;
  justify-content: space-between;
}
.task-todo {
}

.task-done {
  text-decoration: line-through solid black;
}

/*----- TASK FORM -----*/
.form {
}
.task-input {
  width: 40vw;
}
.task-btn {
}
